<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LEAH'S HOME DECORS</title>

    <script src="/frontendjs/logger.js"></script>
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/mobile.css" media="screen and (max-width: 768px)">
    <link rel="stylesheet" href="/css/desktop.css" media="screen and (min-width: 769px)">
    
    <!-- Dynamic CSS Blocks -->
    {{{_sections.css}}}

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://kit.fontawesome.com/4822a6e79c.js" crossorigin="anonymous"></script>
</head>
<body>

    <header>
        <h1>{{pageTitle}}</h1>
        <button id="menu-toggle" class="menu-icon tactile-btn">
          <i class="fa-solid fa-compass"></i>
        </button>
    </header>

    <nav id="nav-menu">
        <ul>
            <li class="{{#if (eq activeNav 'dashboard')}}active{{/if}}"><a href="/">Dashboard</a></li> 
            <li class="{{#if (eq activeNav 'stocks')}}active{{/if}}"><a href="/stocks">Stock</a></li> 
            <li class="{{#if (eq activeNav 'sales')}}active{{/if}}"><a href="/sales">Sales</a></li>
            <li><a href="/gallery/{{businessId}}" target="_blank"><i class="fa-solid fa-images"></i> Gallery</a></li>
            <button class="logout-btn tactile-btn"><a href="/logout"><i class="fa-solid fa-sign-out-alt"></i> LOGOUT</a></button>
        </ul>
    </nav>

    <main>
        {{{body}}}
    </main>

    <script type="module">
        $(document).ready(function () {
            $('#menu-toggle').on('click', function () {
                $('body').toggleClass('menu-open');
                $('#nav-menu').toggleClass('active');
            });
        });
    </script>

    <!-- Dynamic Script Blocks - Only loads what the current page needs -->
    {{{_sections.scripts}}}
</body>
</html>